<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyllar Estill Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/projects.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <style>
        body {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <div id="nav-placeholder"></div>

    <script>
        $(function () {
            $("#nav-placeholder").load("nav.html");
        });
    </script>

    <div class="container">
        <div class="header text-center mb-4">
            <h1>Major Project 1: Inner Reality</h1>
        </div>
        <img id="major-project-image" src="../static/images/major_project_1.jpeg" alt="Major Project 1">
        <div class = "info left-align mb-4">
            <h2>Project Parameters</h2>
            <p>
                The requirements for this project was to use Adobe Photoshop to create an image in the 
                style of Dadaists, montage artists, and/or augmented reality that will be contained 
                within, or framed around, a photograph of yourself. To develop this image, I thought about an
                issue I felt strongly about, which was pollution. From there, I worked to find elements that 
                portrayed this issue.
            </p>
            <h2>Technical Aspects</h2>
            <p>
                To create this image, I used Adobe Photoshop. I employed many of the tools in Photoshop, including
                working with color grading (hue, saturation, and brightness), organized layers, and color overlays.
            </p>
            <p></p>
        </div>
        
    </div>
</body>

</html>
