<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Skyllar Estill</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dtcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    DTC 201
                </a>
                <ul class="dropdown-menu" aria-labelledby="dtcDropdown">
                    <li><a class="dropdown-item" href="dtc1.html">Major Project 1: Inner Reality</a></li>
                    <li><a class="dropdown-item" href="dtc2.html">Major Project 2: Space Travel Poster</a></li>
                    <li><a class="dropdown-item" href="dtc3.html">Major Project 3: Mental Movie</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="skills.html">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
