
.header{
    margin-top:2%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400; 
}
.card {
    display: flex;               
    justify-content: center;      
    gap: 20px;                  
    padding: 20px;               
    margin: 20px auto;           
    max-width: 1200px;           
}
.card-img-top {
    width: 100%;                
    height: 200px;             
    object-fit: cover;         
}
#major-project-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.source-code-pro-custom {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
#welcome {
    margin-top: 100px;
    opacity: 0;
    animation: fadeIn 2s forwards; 
    font-size: 80px;
}

#about-me-text {
    opacity: 0;
    animation: fadeIn 2s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}