* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
}

.navbar {
    background: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
}

.collapse.navbar-collapse {
    margin-right: 1%;
}

.navbar-brand {
    margin-left: 1%;
}
